.container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hr {
    height: 1px;
    background: #ebebeb;
    max-width: 350px;
}

.ratingBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 8px;
}

@media (max-width: 992px) {
    .hr {
        max-width: 305px;
    }
}

@media (max-width: 576px) {
    .container {
        row-gap: 8px;
    }

    .bodyTypography {
        font-size: 14px;
    }
}
