.container {
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.content {
    color: #363636;
}

@media (max-width: 576px) {
    .container {
        row-gap: 8px;
    }
}
